@import "variable.scss";

.my-rule {
    height: 200px;
    width: 100%;
    background: red;
}

.seat-content {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    h2 {
        margin-bottom: 0px;
    }
    // span {
    //     color: #E53632;
    // }
}